/* Change the default color of the dots */
.slick-dots li button:before {
  color: gray;
  /* Blue color for the dots */
  font-size: 12px;
  /* Optional: Adjust dot size */
}

/* Change the color of the active dot */
.slick-dots li.slick-active button:before {
  color: red;
  /* Orange color for the active dot */
}

.text-overlay {
  position: relative;
  /* Make sure the text is positioned relative to its container */
  font-size: 10.25rem;
  font-weight: bold;
  color:rgba(128, 128, 128, 0.103);
  z-index: 10;
  /* Ensure the text is on top of the overlay */
}


.slickslidr {

  /* height: 50vh !important; */
  z-index: 12 !important;
}

.sl_ht {
  height: 400px;
}