.item{
    /* width:22vmax; */
    /* margin-inline: 10px; */
    background-color: black;
    border: 1px solid rgba(128, 128, 128, 0.484);

}
.item img{
    width:100%;
    height: 250px;
}
.item p{
    margin: 15px 0px;
    height: 40px;
}
.item-prices{
   display:flex;
   gap:20px;
}
.item-price-new{
    color:white;
    font-size: 18px;
    font-weight: 600;    
}
.item-price-old{
    color:#8c8c8c;
    font-size: 16px;
    font-weight: 500;  
    text-decoration: line-through;
}
/* .item:hover{
    transform: scale(1.05);
    transition:0.6s;
} */